.list-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.icon-box {
  margin: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: 14rem;
  height: auto;
  min-height: 4rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
}

.icon-box span {
  font-size: 2em
}

[class^="rex-icon-"] {
  color: #000
}